--extra-index-url https://download.pytorch.org/whl/cpu
flask
flask-cors
torch
sentence-transformers
pdfplumber
scikit-learn
datasets
accelerate
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
gunicorn
